<ion-header class="ion-header">
  <ion-toolbar color="light">
    <ion-title>Itens da Solicitação</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar >
    <ion-searchbar placeholder="Busca"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item class="ion-list-item" *ngFor="let item of requestItems" lines="none">
          <ion-label>
            <h2 class="cod-prod">{{item.ProdCod}}</h2>
            <h3>{{item.ProdQty}} - {{item.ProdMu}}</h3>
          </ion-label>
          <ion-checkbox [(ngModel)]="item.IsChecked" slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div class="action-buttons" *ngIf="actionButtons()">
        <ion-button color="danger" (click)="refuseMarkedItems()">Reprovar</ion-button>
        <ion-button (click)="approveMarkedItems()">Aprovar</ion-button>
      </div>
      <div *ngIf="!actionButtons()">
          <ion-button (click)="goBack()" expand="block">OK</ion-button>
      </div>
</ion-content>
