<ion-app>
    <ion-split-pane>
      <ion-menu>
        <ion-header>
          <ion-toolbar>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label>{{userFullName}}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-text class="subtitle">{{userEmail}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle>
              <ion-item lines="none" (tap)="goToPage('home')">
                  <ion-icon class="ion-item-menu-icon" name="home"></ion-icon>
                  <ion-label class="ion-item-menu-label">Início</ion-label> 
              </ion-item>
              <ion-item lines="none" (tap)="goToPage('purchase-request')">
                  <ion-icon class="ion-item-menu-icon" name="paper"></ion-icon>
                  <ion-label class="ion-item-menu-label">Solicitações</ion-label> 
              </ion-item>
              <ion-item lines="none" (tap)="goToPage('purchase-order')">
                  <ion-icon class="ion-item-menu-icon" name="cart"></ion-icon>
                  <ion-label class="ion-item-menu-label">Pedidos</ion-label>                
              </ion-item>
              <ion-item lines="none" (tap)="goToPage('settings')">
                  <ion-icon class="ion-item-menu-icon" name="settings"></ion-icon>
                <ion-label class="ion-item-menu-label">Configurações</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
        <ion-footer>
            <ion-toolbar>
              <ion-menu-toggle>
                <ion-button (click)='logout()' fill="clear">Sair</ion-button>
              </ion-menu-toggle>
            </ion-toolbar>
          </ion-footer>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
