<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Início</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="ion-card-chart">
    <ion-card-header>
      Solicitações de Compra
    </ion-card-header>
    <ion-card-content>
      <canvas class="ion-card-chart-canvas" #RequestChartCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-card-chart">
      <ion-card-header>
        Pedidos de Compra
      </ion-card-header>
      <ion-card-content>
        <canvas class="ion-card-chart-canvas" #OrderChartCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>
