<ion-header>
  <ion-toolbar>
    <ion-title>Aprova Aí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
    <ion-list padding>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <ion-item>
                <ion-input formControlName="username" type="text" placeholder="Usuário"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
            </ion-item>
  
            <div padding-top>
                <ion-button expand="block" type="submit" >Entrar</ion-button>
            </div>
        </form>
    </ion-list>

  </ion-content>
