<ion-header>
  <ion-toolbar>
    <ion-title>
      Aprova Aí
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="card-sol-list"  *ngFor="let solic of sol">
    <ion-card class="card-sol">
      <ion-card-header>
          <ion-card-title>Solicitação {{solic.C1NUM}}</ion-card-title>
          <ion-card-subtitle>Data de Emissão {{solic.C1EMISSAO}}</ion-card-subtitle>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>


<!-- The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
